<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/styles.css">
    <link rel="stylesheet" href="./dist/output.css">
    <title>Visualizar Cargas</title>
</head>

<body>
    <div>
        <button onclick="logout()">Sair</button>
    </div>
    <div style="display: none" id="mensagem"
        class="fixed grid-cols-12 items-center text-sm m-0 bg-[#010409] w-full h-[60px] top-0 border-b-2 border-[#30363d]">
        <div class="col-span-1"></div>
        <span id="mensagem-texto" class="content-center mr-6 lg:text-xl col-span-10 text-center"></span>
        <div class="bg-[red] mr-4 w-7 h-7 flex justify-center items-center rounded-lg col-span-1">
            <button id="excluir-mensagem" class="text-white text-xl rotate-45">&#10010;</button>
        </div>
    </div>
    <section class="m-4 lg:grid lg:grid-cols-2">
        <div
            class="p-4 bg-[#0d1117] lg:bg-transparent lg:border-transparent lg:justify-center border-[#30363d] border-2 rounded-lg mb-8 lg:w-12/12">
            <h1 class="w-full text-center text-3xl pb-8">Pesquisar Carga</h1>
            <form id="buscar-carga-form">
                <div class="grid lg:grid-cols-2 gap-y-5">
                    <input class="hidden w-full lg:w-8/12 lg:col-span-2 lg:mx-auto px-4 rounded-xl h-[40px]" type="text"
                        id="parametro1" name="parametro1" placeholder="Código da companhia:" required value="047">
                    <input class="w-full lg:w-8/12 lg:col-span-2 lg:mx-auto px-4 rounded-xl h-[40px]" type="text"
                        id="parametro2" name="parametro2" placeholder="ID aéreo:" required>
                </div>
                <div id="busca-salva" style="display: block;" class="pt-8 w-full text-center">
                    <button class="bg-[#29903b] w-auto px-4 h-[40px] rounded-lg text-2xl font-bold"
                        type="submit">Buscar</button>
                    <input class="cursor-pointer bg-[#29903b] w-auto px-4 h-[40px] rounded-lg text-2xl font-bold"
                        type="button" style="display: none;" id="salvar-carga-button" value="Salvar">
                </div>
            </form>
        </div>
        <div id="cargas-nova">
            <div id="dados-atuais" class="p-4 lg:border-transparent border-[#30363d] border-2 rounded-lg mb-8"
                style="display: none;"></div>
        </div>
        <div id="cargas-nova" class="lg:col-span-2 lg:gap-x-4">
            <div id="historico" class="lg:grid lg:grid-cols-2 lg:gap-x-4"></div>
            <input class="cursor-pointer bg-[#29903b] w-auto px-4 h-[40px] rounded-lg text-2xl font-bold" type="button"
                id="salvar-cotacao-button" value="Salvar Cotação">
        </div>
    </section>
    <section class="border-t-2 mx-4">
        <h1 class="text-4xl pt-4 lg:py-8 lg:pl-12 font-bold">Cargas salvas</h1>
        <div id="cargas-container" class="pb-12 lg:grid-cols-3 lg:grid lg:gap-x-3"> </div>
    </section>
</body>

<script>
    const TOKEN_KEY = 'token';
    const USER_ID_KEY = 'userId';

    function getToken() {
        return localStorage.getItem(TOKEN_KEY);
    }

    function isLoggedIn() {
        return getToken() !== null;
    }

    function logout() {
        localStorage.removeItem(TOKEN_KEY);
        localStorage.removeItem(USER_ID_KEY);
        window.location.href = '/';
    }

    if (!isLoggedIn()) {
        window.location.href = '/';
    }

    var token = getToken();


    fetch('/pagina-cargas', {
        method: 'GET',
        headers: {
            'Authorization': 'Bearer ' + token
        }
    })
        .then(response => response.json())
        .then(data => {
            const cargasContainer = document.getElementById('cargas-container');
            data.forEach(carga => {
                cargasContainer.innerHTML += `
            <div class="card border border-[#30363d] hover:bg-[#161b22 my-4 rounded-lg lg:gap-x-3">
                <div class="grid grid-cols-3 justify-items-end border-b border-[#30363d] px-4 py-2">
                    <p>Código Aéreo:</p>
                    <p>${carga.numcodigoaereo}</p>
                    <button class="delete-button text-end" data-carga-id="${carga.numcodigoaereo}">&#128465;</button>
                </div>
                <div class="grid grid-cols-3 px-4 py-2 justify-items-center">
                    <p class="lg:text-xl">Status:</p>
                    <p class="text-[#5cd26f] font-bold col-span-2 lg:text-xl">${carga.statusatual}</p>
                </div>
                <div class="grid grid-cols-3 px-4 py-2 justify-items-center">
                    <p class="lg:text-xl">Origem:</p>
                    <p class="font-bold col-span-2 lg:text-xl">${carga.partida}</p>
                </div>
                <div class="grid grid-cols-3 px-4 py-2 justify-items-center">
                    <p class="lg:text-xl">Destino:</p>
                    <p class="font-bold col-span-2 lg:text-xl">${carga.chegada}</p>
                </div>
                <div class="grid grid-cols-3 px-4 py-2 justify-items-center">
                    <p class="lg:text-xl">Voo:</p>
                    <p class="font-bold col-span-2 lg:text-xl">${carga.flight}</p>
                </div>
                <div class="grid grid-cols-3 px-4 py-2 justify-items-center">
                    <p class="lg:text-xl">Peso:</p>
                    <p class="font-bold col-span-2 lg:text-xl">${carga.weight}</p>
                </div>
                <div class="grid grid-cols-3 px-4 py-2 justify-items-center">
                    <p class="lg:text-xl">Resarva:</p>
                    <p class="font-bold col-span-2 lg:text-xl">${carga.reservation}</p>
                </div>
            </div>
        `;
            });

            const deleteButtons = document.querySelectorAll('.delete-button');
            deleteButtons.forEach(deleteButton => {
                deleteButton.addEventListener('click', () => {
                    const cargaId = deleteButton.dataset.cargaId;
                    const confirmDelete = confirm('Tem certeza que deseja excluir esta carga?');

                    if (confirmDelete) {
                        fetch(`/pagina-cargas/${cargaId}`, {
                            method: 'DELETE',
                            headers: {
                                'Authorization': 'Bearer ' + token
                            }
                        })
                            .then(response => {
                                if (response.ok) {
                                    const cardElement = deleteButton.closest('.card');
                                    if (cardElement) {
                                        cardElement.remove();
                                    } else {
                                        console.error('Elemento "card" não encontrado.');
                                    }
                                } else {
                                    console.error('Erro ao excluir carga:', response.statusText);
                                }
                            })
                            .catch(error => {
                                console.error('Erro ao excluir carga:', error);
                            });
                    }
                });
            });
        })
        .catch(error => console.error('Erro ao obter cargas:', error));

    document.getElementById('buscar-carga-form').addEventListener('submit', function (event) {
        event.preventDefault();

        const parametro1 = document.getElementById('parametro1').value;
        const parametro2 = document.getElementById('parametro2').value;

        fetch('/busca', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + token
            },
            body: JSON.stringify({ parametro1, parametro2 })
        })
            .then(response => response.json())
            .then(busca => {
                const dadosAtuaisDiv = document.getElementById('dados-atuais');
                const historicoDiv = document.getElementById('historico');

                dadosAtuaisDiv.innerHTML = '';
                historicoDiv.innerHTML = '';

                Object.keys(busca.DadosAtuais).forEach(key => {
                    if (key === 'state') {
                        dadosAtuaisDiv.innerHTML += `
                            <div class="mb-4">
                                <h1 class="w-full text-3xl pb-4">Descrição</h1>
                                <p>Código aéreo: <span class="font-bold">${parametro1}-${parametro2}</span></p>
                            </div>
                            <div class="mb-4">
                                <p>Status:</p>
                                <p class="font-bold text-[#5cd26f]">${busca.DadosAtuais[key]}</p>
                            </div>
                `;
                    } else {
                        dadosAtuaisDiv.innerHTML += `
                        <div class="mb-4">
                            <p class="capitalize">${key}</p>
                            <p class="font-bold"> ${busca.DadosAtuais[key]}</p>
                        </div>
                `;
                    }
                });

                historicoDiv.innerHTML += ``;
                busca.Historico.forEach(item => {
                    let historicoItemHTML = `<div class="mb-4">`;
                    let flightValue;

                    Object.keys(item).forEach(key => {
                        historicoItemHTML += `<p class="hidden">${key}: ${item[key]}</p>`;

                        if (key === "Flight") {
                            flightValue = item[key];
                        }
                    });
                    historicoItemHTML += `<button class="flex pb-8 toggleButton cursor-text h-[30px] w-full border border-[#30363d] px-4 bg-[#161b22] justify-between">
                        <p>${flightValue}</p>
                        <div>
                            <span id="oi" class="rotate-90 text-3xl align-top mb-8" style="display: block;"> &#10151; </span>
                            <span id="tchau" class="-rotate-90 text-3xl align-top" style="display: none;"> &#10151; </span>
                        </div>
                    </button>`;
                    historicoItemHTML += `<div class="content-${busca.Historico.indexOf(item)} cursor-text" style="display: none;">`;
                    Object.keys(item).forEach(key => {
                        historicoItemHTML += `
                        <div class="grid grid-cols-2 border border-[#30363d] hover:bg-[#161b22] cursor-text">
                            <p class="py-2 px-4 cursor-text">${key}</p> 
                            <p class="py-2 px-4 cursor-text">${item[key]}</p>
                        </div>`;
                    });
                    historicoItemHTML += "</div>";
                    historicoItemHTML += "</div>";
                    historicoDiv.innerHTML += historicoItemHTML;
                });

                document.querySelectorAll('.toggleButton').forEach(button => {
                    button.addEventListener('click', function () {
                        const content = this.nextElementSibling;
                        const oiSpan = this.querySelector('#oi');
                        const tchauSpan = this.querySelector('#tchau');

                        if (content.style.display === 'none') {
                            content.style.display = 'block';
                            oiSpan.style.display = 'none';
                            tchauSpan.style.display = 'block';
                        } else {
                            content.style.display = 'none';
                            oiSpan.style.display = 'block';
                            tchauSpan.style.display = 'none';
                        }
                    });
                });

                document.getElementById('dados-atuais').style.display = 'block';
                document.getElementById('salvar-carga-button').style.display = 'block';
                document.getElementById('busca-salva').style.display = 'flex';
                document.getElementById('busca-salva').style.justifyContent = 'space-around';
                document.getElementById('busca-salva').style.paddingLeft = '15%';
                document.getElementById('busca-salva').style.paddingRight = '15%';
                if (busca.salvarNoBanco) {
                    document.getElementById('salvar-carga-button').style.display = 'block';
                }
            })
            .catch(error => console.error('Erro na nova busca:', error));
    });

    document.getElementById('excluir-mensagem').addEventListener('click', function () {
        document.getElementById('mensagem-texto').innerText = '';
        document.getElementById('mensagem').style.display = 'none';
        document.getElementById('mensagem').classList.remove('opacity-100');
        document.getElementById('mensagem').classList.add('opacity-0');
    });

    function atualizarCargasSalvas() {
        fetch('/pagina-cargas', {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + token
            }
        })
            .then(response => response.json())
            .then(data => {
                const cargasContainer = document.getElementById('cargas-container');
                cargasContainer.innerHTML = '';
                data.forEach(carga => {
                    cargasContainer.innerHTML += `
                <div class="card border border-[#30363d] hover:bg-[#161b22 my-4 rounded-lg lg:gap-x-3">
                    <div class="grid grid-cols-3 justify-items-end border-b border-[#30363d] px-4 py-2">
                        <p>Código Aéreo:</p>
                        <p>${carga.numcodigoaereo}</p>
                        <button class="delete-button text-end" data-carga-id="${carga.numcodigoaereo}">&#128465;</button>
                    </div>
                    <div class="grid grid-cols-3 px-4 py-2 justify-items-center">
                        <p class="lg:text-xl">Status:</p>
                        <p class="text-[#5cd26f] font-bold col-span-2 lg:text-xl">${carga.statusatual}</p>
                    </div>
                    <div class="grid grid-cols-3 px-4 py-2 justify-items-center">
                        <p class="lg:text-xl">Origem:</p>
                        <p class="font-bold col-span-2 lg:text-xl">${carga.partida}</p>
                    </div>
                    <div class="grid grid-cols-3 px-4 py-2 justify-items-center">
                        <p class="lg:text-xl">Destino:</p>
                        <p class="font-bold col-span-2 lg:text-xl">${carga.chegada}</p>
                    </div>
                    <div class="grid grid-cols-3 px-4 py-2 justify-items-center">
                        <p class="lg:text-xl">Voo:</p>
                        <p class="font-bold col-span-2 lg:text-xl">${carga.flight}</p>
                    </div>
                    <div class="grid grid-cols-3 px-4 py-2 justify-items-center">
                        <p class="lg:text-xl">Peso:</p>
                        <p class="font-bold col-span-2 lg:text-xl">${carga.weight}</p>
                    </div>
                    <div class="grid grid-cols-3 px-4 py-2 justify-items-center">
                        <p class="lg:text-xl">Reserva:</p>
                        <p class="font-bold col-span-2 lg:text-xl">${carga.reservation}</p>
                    </div>
                </div>
            `;
                });

                const deleteButtons = document.querySelectorAll('.delete-button');
                deleteButtons.forEach(deleteButton => {
                    deleteButton.addEventListener('click', () => {
                        const cargaId = deleteButton.dataset.cargaId;
                        const confirmDelete = confirm('Tem certeza que deseja excluir esta carga?');

                        if (confirmDelete) {
                            fetch(`/pagina-cargas/${cargaId}`, {
                                method: 'DELETE',
                                headers: {
                                    'Authorization': 'Bearer ' + token
                                }
                            })
                                .then(response => {
                                    if (response.ok) {
                                        const cardElement = deleteButton.closest('.card');
                                        if (cardElement) {
                                            cardElement.remove();
                                        } else {
                                            console.error('Elemento "card" não encontrado.');
                                        }
                                    } else {
                                        console.error('Erro ao excluir carga:', response.statusText);
                                    }
                                })
                                .catch(error => {
                                    console.error('Erro ao excluir carga:', error);
                                });
                        }
                    });
                });
            })
            .catch(error => console.error('Erro ao obter cargas:', error));
    }
    document.getElementById('salvar-carga-button').addEventListener('click', function () {
        const parametro1 = document.getElementById('parametro1').value;
        const parametro2 = document.getElementById('parametro2').value;

        fetch('/busca', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + token
            },
            body: JSON.stringify({ parametro1, parametro2, salvarNoBanco: true })
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Erro ao salvar carga');
                }
            })
            .then(data => {
                atualizarCargasSalvas();

                document.getElementById('parametro2').value = '';

                document.getElementById('dados-atuais').style.display = 'block';
                document.getElementById('salvar-carga-button').style.display = 'none';

                document.getElementById('mensagem-texto').classList.remove('green-text', 'red-text');
                document.getElementById('mensagem-texto').innerText = 'Carga salva com sucesso!';
                document.getElementById('mensagem-texto').classList.add('green-text');
                document.getElementById('mensagem').style.display = 'grid';
                document.getElementById('mensagem').classList.remove('opacity-0');
                document.getElementById('mensagem').classList.add('opacity-100');

                setTimeout(() => {
                    document.getElementById('mensagem-texto').innerText = '';
                    document.getElementById('mensagem').classList.remove('opacity-100');
                    document.getElementById('mensagem').classList.add('opacity-0');
                }, 10000);
            })
            .catch(error => {
                console.error('Erro ao salvar carga:', error);
                document.getElementById('mensagem-texto').classList.remove('green-text', 'red-text');

                document.getElementById('mensagem-texto').innerText = 'Os dados já foram salvos anteriormente';
                document.getElementById('mensagem-texto').classList.add('red-text');
                document.getElementById('mensagem').style.display = 'grid';
                document.getElementById('mensagem').classList.remove('opacity-0');
                document.getElementById('mensagem').classList.add('opacity-100');
                setTimeout(() => {
                    document.getElementById('mensagem-texto').innerText = '';
                    document.getElementById('mensagem').classList.remove('opacity-100');
                    document.getElementById('mensagem').classList.add('opacity-0');
                }, 10000);
            });
    });

    document.getElementById('salvar-cotacao-button').addEventListener('click', function () {

        fetch('/busca-cotacao', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + token
            },
            body: JSON.stringify({ salvarNoBanco: true })
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Erro ao salvar cotação.');
                }
            })
    });


    document.getElementById('toggleButton').addEventListener('click', function () {
        var div = document.getElementById('content');
        if (div.style.display === 'none') {
            div.style.display = 'block';
        } else {
            div.style.display = 'none';
        }
    });
</script>

</html>