<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <link href="./dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="./style/styles.css">
    <title>Login</title>
</head>

<body class="flex justify-center items-center h-screen  lg:overflow-hidden">
    <section class="flex  mx-auto bg-[#3E3E3E] w-10/12 lg:w-5/12 h-auto border-[#878787] border-[0.5px] rounded-lg">
        <div class="py-10 px-4 w-full grid gap-y-8">
            <div class="grid gap-y-7">
                <div>
                    <h2 class="text-lg font-light">Bem-vindo!</h2>
                </div>
                <div class="grid gap-y-1.5">
                    <h1 class="text-2xl font-medium">Faça seu login</h1>
                    <p>Insira seus dados</p>
                </div>
            </div>
            <form id="login-form" class="grid gap-y-7">
                <div  class="grid gap-y-7">
                    <div class="grid gap-y-2">
                        <label for="email">Email</label>
                        <input class="w-full text-sm p-4 rounded-md h-[53px] border-[#282828] border-[0.6px]"
                            type="email" id="email" name="email" placeholder="Digite seu email" required>
                    </div>
                    <div class="relative">
                        <label for="senha">Senha</label>
                        <input
                            class="w-full text-sm p-4 rounded-md h-[53px] border-[#282828] border-[0.6px]"
                            type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
                        <button class="absolute right-4 top-2/3 transform -translate-y-2/4"
                            id="togglePassword" type="button" onclick="togglePasswordVisibility()">
                            <iconify-icon class="text-[#282828]" icon="mdi:eye" id="eye-icon"></iconify-icon>
                        </button>
                    </div>
                    <div class="flex justify-between">
                        <div class="flex flex-wrap content-center">
                            <input type="checkbox" name="conectado" id="conectado" >
                            <label for="conectado" class="ml-1 font-light text-sm">Manter conectado</label>
                        </div>
                        <div>
                            <a href="" class="text-[15px] font-light text-[#FFFFFF] underline underline-offset-1">Esqueci senha</a>
                        </div>
                    </div>
                </div>
                <div class="w-full text-center">
                    <button class="bg-[#72BB8B] w-full text-[#FFFFFF] h-[56px] rounded-md font-medium"
                        type="submit">Entrar</button> <br>
                </div>
                <div class="w-full text-center">
                    <p class="text-[#FFFFFF]">Não tem conta?<a href='/signin' class="pl-1 text-[#72BB8B] underline">Cadastre-se</a></p>
                </div>
            </form>
        </div>
    </section>
</body>
<script>
    const isBrowser = () => typeof window !== 'undefined';

    const checkAuthentication = () => {
        if (isBrowser()) {
            if (localStorage.getItem('token')) {
                window.location.href = '/cargas';
            }
        }
    };

    window.onload = checkAuthentication;

    document.getElementById('login-form').addEventListener('submit', async function (event) {
        event.preventDefault();

        const email = document.getElementById('email').value;
        const senha = document.getElementById('senha').value;

        const response = await fetch('/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email, senha })
        });

        const data = await response.json();
        if (response.ok) {
            localStorage.setItem('token', data.token);
            localStorage.setItem('userId', data.userId);
            window.location.href = '/cargas';
        } else {
            alert(data.error);
        }
    });

    function togglePasswordVisibility() {
        var passwordInput = document.getElementById('senha');
        var eyeIcon = document.getElementById('eye-icon');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.setAttribute('icon', 'mdi:eye-off');
        } else {
            passwordInput.type = 'password';
            eyeIcon.setAttribute('icon', 'mdi:eye');
        }
    }
</script>

</html>