<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <link href="./dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="./style/styles.css">
    <title>Cadastro de Usuário</title>
</head>

<body class="flex justify-center items-center">
    <section class="flex mx-auto bg-[#ffffff] w-10/12 lg:w-5/12 h-auto border-[#878787] border-[0.5px] rounded-lg my-8">
        <div class="py-10 px-4 w-full grid gap-y-6">
            <div class="grid gap-y-5">
                <div>
                    <h2 class="text-lg font-light">Bem-vindo!</h2>
                </div>
                <div class="grid gap-y-1.5">
                    <h1 class="text-2xl font-medium">Faça seu cadastro</h1>
                    <p>Insira seus dados</p>
                </div>
            </div>
            <form class="grid gap-y-7" id="cadastroForm">
                <div class="grid gap-y-7">
                    <div class="grid gap-y-2">
                        <label for="email">Email</label>
                        <input class="w-full text-sm p-4 rounded-md h-[53px] border-[#282828] border-[0.6px]"
                            type="email" id="email" name="email" placeholder="Digite seu email" required>
                    </div>
                    <div class="grid gap-y-2">
                        <label for="nome">Nome e sobrenome</label>
                        <input class="w-full text-sm p-4 rounded-md h-[53px] border-[#282828] border-[0.6px]"
                            type="text" id="nome" name="nome" placeholder="Digite seu nome" required>
                    </div>
                    <div class="relative">
                        <label for="senha">Senha</label>
                        <input class="w-full text-sm p-4 rounded-md h-[53px] border-[#282828] border-[0.6px]"
                            type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
                        <button class="absolute right-4 top-2/3 transform -translate-y-2/4" id="togglePassword"
                            type="button" onclick="togglePasswordVisibility()">
                            <iconify-icon icon="mdi:eye" id="eye-icon"></iconify-icon>
                        </button>
                    </div>
                    <div class="flex flex-wrap content-center">
                        <input type="checkbox" name="admin" id="admin">
                        <label for="admin" class="ml-1">Usuário administrador? </label>
                    </div>
                </div>
                <div class="w-full text-center">
                    <button class="bg-[#000000] w-full text-[#FFFFFF] h-[56px] rounded-md font-medium"
                        type="submit">Cadastrar</button> <br>
                </div>
                <div class="w-full text-center">
                    <p class="text-[#7D7D7D]">Já tem conta?<a href='/' class="pl-1 text-[#000000] underline">Entrar</a></p>
                </div>
            </form>
        </div>
    </section>
</body>
<script>
    document.getElementById('cadastroForm').addEventListener('submit', async function (event) {
        event.preventDefault();

        const nome = document.getElementById('nome').value;
        const email = document.getElementById('email').value;
        const senha = document.getElementById('senha').value;
        const admin = document.getElementById('admin').value;

        const response = await fetch('/signin', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ nome, email, senha, admin })
        });

        const data = await response.json();
        if (response.ok) {
            window.location.href = '/';
        } else {
            alert(data.error);
        }
    });

    function togglePasswordVisibility() {
        var passwordInput = document.getElementById('senha');
        var eyeIcon = document.getElementById('eye-icon');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.setAttribute('icon', 'mdi:eye-off');
        } else {
            passwordInput.type = 'password';
            eyeIcon.setAttribute('icon', 'mdi:eye');
        }
    }
</script>

</html>