<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./dist/output.css" rel="stylesheet">
  <link rel="stylesheet" href="./style/styles.css">
  <title>Cadastro de Usuário</title>
</head>
<body class="flex justify-center items-center h-screen">
  <section class="flex  mx-auto bg-[#0d1117] w-10/12 lg:w-4/12 h-auto border-[#30363d] border-2 rounded-lg">
      <div class="w-full p-8">
          <h1 class="text-6xl lg:text-7xl text-center w-full">Cadastro</h1>
          <h2 class="opacity-40 w-full text-center lg:text-2xl text-xl ">Insira seus dados</h2>
          <form class="my-8" id="cadastroForm">
              <div class="grid gap-y-7 mb-8">
                  <input class="w-full lg:text-xl px-4 rounded-xl h-[40px]" type="email" id="email" name="email" placeholder="E-mail:">
                  <input class="w-full lg:text-xl px-4 rounded-xl h-[40px]" type="text" id="nome" name="nome" placeholder="Nome:">
                  <input class="w-full lg:text-xl px-4 rounded-xl h-[40px]" type="password" id="senha" name="senha" placeholder="Senha:">
                  <div class="flex px-4 rounded-xl h-[40px] content-center flex-wrap justify-between pr-2 bg-[#161b22] text-[#9ca3af]">
                    <div class="pt-1 lg:text-xl">Administrador: </div>
                    <input class="h-[30px] lg:h-[40px] mr-3 mt-1" type="checkbox" id="admin" name="admin">
                  </div>
              </div>
              <div class="w-full text-center">
                  <button class="bg-[#29903b] w-auto px-4 h-[40px] rounded-lg text-2xl lg:text-3xl font-bold" type="submit">Cadastre-se</button> <br>
              </div>
              <div class="w-full text-center mt-2">                    
                  <p>Já tem conta?<a href='/' class="pl-1 text-[#4493f8] hover:underline">Login</a></p>
              </div>
          </form>  
      </div>  
  </section>
</body>
<script>
    document.getElementById('cadastroForm').addEventListener('submit', async function(event) {
        event.preventDefault();
        
        const nome = document.getElementById('nome').value;
        const email = document.getElementById('email').value;
        const senha = document.getElementById('senha').value;
        const admin = document.getElementById('admin').value;
        
        const response = await fetch('/signin', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ nome, email, senha, admin })
        });
        
        const data = await response.json();
        if (response.ok) {
            window.location.href = '/';
        } else {
            alert(data.error);
        }
    });
</script>
</html>
