@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin-bottom: 5%;
    padding: 0;
    height: 100vh;
    background-color: #010409;
    font-family: 'Ubuntu Mono', monospace; 
}

.delete-button {
    background-color: #ff0000;
    border-radius: 10px; 
    padding-top: 2px; 
    padding-bottom: 2px; 
    right: 0;
    width: 35px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border: none;
    font-size: 1.5rem;
    color: white; 
    cursor: pointer; 
}

.delete-button:hover {
    background-color: #cc0000;
}


html {
    color: #e6edf3;
}

input {
    background-color: #161b22;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}